export const BOX__CLIENT_ID = "YOUR_CLIENT_ID_HERE"; // Replace with your actual Box client ID
export const BOX__CLIENT_SECRET = "YOUR_CLIENT_SECRET_HERE"; // Replace with your actual Box client secret
export const CUSTOM_INSTRUCTION_ID = 'BOX_AI_CUSTOM_INSTRUCTION';
export const defaultCustomInstructions = [
  {
    id: CUSTOM_INSTRUCTION_ID,
    title: 'Send custom instruction',
    instruction: '{Provided upon runtime}',
    sortOrder: 0,
    model: '',
    language: 'en',
  },
  {
    id: 'BOX_AI_DRAFT_JIRA',
    title: 'Draft a JIRA',
    instruction: `Please generate a Jira bug ticket based on this file.`,
    sortOrder: 1,
    model: '',
    language: 'en',
  },
  {
    id: 'BOX_AI_SUMMARIZE_TEXTS',
    title: 'Summarize the texts',
    instruction: `Please read the content of the file and provide a concise summary of its key points. Do not translate the text, just summarize it in the original language.`,
    sortOrder: 2,
    model: '',
    language: 'en',
  },
  {
    id: 'BOX_AI_PROOFREAD_TEXTS',
    title: 'Proofread the texts',
    instruction: `Please proofread the content of the file and improve its clarity and readability. Focus on correcting grammar, punctuation, and overall flow. Do not translate the text, just proofread it in the original language.`,
    sortOrder: 3,
    model: '',
    language: 'en',
  },
  {
    id: 'BOX_AI_TRANSLATE_BETWEEN_EN_JA',
    title: 'Translate between English and Japanese',
    instruction: `Please translate the English texts to Japanese and Japanese texts to English. Ensure the translation is accurate and maintains the original meaning.`,
    sortOrder: 4,
    model: '',
    language: 'en',
  },
  {
    id: 'BOX_AI_DRAFT_ARTICLE',
    title: 'Draft a technical article',
    instruction: `Please draft a technical article based on the content of this file. The article is meant to be a troubleshooting article that helps the user who encounter issue with the software. Make sure to format it properly and include the title and relevant sections such as Issue, Environment, Root Cause and Resolution.`,
    sortOrder: 5,
    model: '',
    language: 'en',
  },
  {
    id: 'BOX_AI_EXPLAIN_CODE',
    title: 'Explain the code',
    instruction: `Please explain the code in the file, breaking down its functionality and purpose in simple terms. Focus on key components, logic flow, and any important algorithms used.`,
    sortOrder: 6,
    model: '',
    language: 'en',
  },
]; // Default instruction template for Box AI context menu